*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
}

#cla{
    display: flex;
    min-height: 100vh;
    position: relative;
    max-width: 100%;
    flex: 1;
    background-color: black;
    border: black;
    border-right:  solid 2px;
}

.info_Container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 16px 2em;
}

.info_Container h3{
    color: white;
}

.description{
    font-size: 10px;
    color: white;
}

.profile_Pic{
    display: block;
    margin-top: 25%;
    margin-bottom: auto;
    padding: 20px 25px;
}

.profile_Pic img{
    border-radius: 50%;
    width: 11.5em;
    height: 11.5em;
}

.headers{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.sub_Headers{
    color: white;
    font-size: 1em;
}

footer{
    background-color: rgb(46, 46, 46);
    padding: 4px 2em;
    display: flex;
    justify-content: center;
}

footer p{
    color: white;
}

#socials_container1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    padding: 16px 2em;
    cursor: pointer;
}

#socials_container1 h3{
    color: white;
}

#socials_container1 .fa{
    padding: 10px;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    margin-right: 16px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.3s;
}

#socials_container1 .fa:hover{
    background-color: white;
    color: black;
}

#socials_container1 .fa-facebook{
    background-color: black;
    color: white;
}

#socials_container1 .fa-youtube-play{
    background-color: black;
    color: white;
}

#socials_container1 .fa-github{
    background-color: black;
    color: white;
}

    /* -------------------------------------------------- Victor Styles -------------------------------------------------- */

#vic{
    display: flex;
    background-color: rgb(244, 252, 255);
    min-height: 100vh;
    max-width: 100%;
    flex: 1;
    text-align: right;
}

#intro1, #intro2, #vic_Description{
    color: black;
}

.stack{
    height: 2.25em; 
    width: 2em;
}

#cProg{
    width: 2.25em;
}

#html{
    width: 2.25em;
}

#css{
    width: 2.25em;
}

#vic_Stack{
    color: black;
}

#socials_container2{
    position: absolute;
    text-align: right;
    left: 81%;
    display: flex;
    flex-direction: column;
    top: 70%;
    padding: 16px 2em;
    cursor: pointer;
}

#socials_container2 h3{
    color: black;
}

#socials_container2 .fa{
    padding: 10px;
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    margin-left: 16px;
    border-radius: 50%;
    border: 2px solid black;
    transition: 0.3s;
}


#socials_container2 .fa:hover{
    background-color: black;
    color: white;
}

#socials_container2 .fa-facebook{
    background-color: white;
    color: black;
}

#socials_container2 .fa-youtube-play{
    background-color: white;
    color: black;
}

#socials_container2 .fa-instagram{
    background-color: white;
    color: black;
}

#socials_container2 .fa-github{
    background-color: white;
    color: black;
}
