*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: rgb(39, 39, 39);
}

#container{
    padding-bottom: 50px;
}

.region_Starters{
    display: flex;
    justify-content: space-evenly;
}

.card{
    margin-top: 8em;
    background-color: rgb(240, 240, 0);
    padding: 5em 2.5em;
    border-radius: 1em;
}

.starter{
    height: 2.5in;
    width: 2.5in;
}
