*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
}
nav{
    background-color: rgb(46, 46, 46);
    padding: 1em 2em;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

li a{
    color: white;
    padding: 0px 16px;
    text-decoration: none;
}

a:hover{
    transform: all 0.3s ease 0s;
    color: rgb(77, 243, 255);
}

#cla{
    display: flex;
    min-height: 100vh;
    position: relative;
    max-width: 100%;
    flex: 1;
    background-color: black;
    /* text-align: center; */
    border: black;
    border-right:  solid 2px;
}

.cla_info_container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 16px 2em;
}

.cla_info_container h3{
    color: white;
}

#cla_desc{
    font-size: 10px;
    color: white;
}

#profile_pic_cla{
    display: block;
    margin-top: 21%;
    margin-bottom: auto;
    padding: 20px 25px;
}

#profile_pic_cla img{
    border-radius: 50%;
    width: 150px;
}

#vic{
    background-color: rgb(0, 191, 255);
    min-height: 100vh;
    max-width: 100%;
    flex: 1;
    text-align: center;
}

.headers{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.subheaders{
    color: white;
    font-size: 1em;
}

footer{
    background-color: rgb(46, 46, 46);
    padding: 4px 2em;
    display: flex;
    justify-content: center;
}

footer p{
    color: white;
}

.stack{
    height: 2.25em;
    width: 2em;
}

#profilePic1{
    margin-top: 1em;
}

#cProg{
    width: 2.25em;
}

#html{
    width: 2.25em;
}

#css{
    width: 2.25em;
}